# Pair Programming EDA I

Objetivos
Los objetivos de hoy son:
1. Haced una exploración inicial del dataframe:
- ¿Cuál es el número de filas y columnas?
- ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.
- ¿Qué tipos de datos hay en cada columna?
- Extraed la información general del dataframe.

In [3]:
import pandas as pd

In [4]:
pd.options.display.max_columns=None

In [5]:
df = pd.read_csv('../datos/datos_ataques.csv', index_col= 0)

In [6]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal,sexo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,n,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,03-Jun-2018,Jun,y,M

1.1. Número filas y columnas

In [7]:
print(f'El DataFrame tiene en total {df.shape[0]} filas y {df.shape[1]} columnas')

El DataFrame tiene en total 1672 filas y 17 columnas

1.2. ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [9]:
porcentaje_null = (pd.DataFrame(round((df.isnull().sum()*100/df.shape[0]), 2))).T

In [10]:
porcentaje_null

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal,sexo
0,0.0,0.0,0.0,0.6,2.75,3.05,1.85,0.54,9.21,9.57,7.54,0.0,0.48,0.0,2.99,5.8,0.84

1.3. ¿Qué tipos de datos hay en cada columna?

In [11]:
df.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
age             object
time            object
species_        object
href            object
injury          object
date            object
mes             object
fatal           object
sexo            object
dtype: object

1.4. Extraed la información general del dataframe.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   age          1518 non-null   object
 9   time         1512 non-null   object
 10  species_     1546 non-null   object
 11  href         1672 non-null   object
 12  injury       1664 non-null   object
 13  date         1672 non-null   object
 14  mes          1622 non-null   object
 15  fatal        1575 non-null   object
 16  sexo         1658 non-null   object
dtypes: float64(1), object(16)
memory usage: 235.1+ KB

2. Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.
- ¿Cuáles son los principales estádisticos de los dataframes?
- Extraed los valores únicos su frecuencia. BONUS presenta los resultados en un dataframe.

2.1. ¿Cuáles son los principales estádisticos de los dataframes?

In [13]:
categorias = pd.DataFrame(df.select_dtypes(include = 'object'))
categorias.describe()

,case_number,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal,sexo
count,1672,1672,1662,1626,1621,1641,1663,1518,1512,1546,1672,1664,1672,1622,1575,1658
unique,1672,6,95,236,1310,404,1536,94,248,856,1672,1173,1522,54,2,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,19,11h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,No date,Aug,n,M
freq,1,1432,741,346,73,426,97,70,74,76,1,154,6,158,1258,1435

In [14]:
numericas = pd.DataFrame(round(df.describe(),2))
numericas

          year
count  1672.00
mean   1832.69
std     528.97
min       0.00
25%    1964.00
50%    1997.00
75%    2008.00
max    2018.00

In [15]:
categorias.shape

(1672, 16)

In [16]:
categorias.columns

Index(['case_number', 'type', 'country', 'area', 'location', 'activity',
       'name', 'age', 'time', 'species_', 'href', 'injury', 'date', 'mes',
       'fatal', 'sexo'],
      dtype='object')

-----------------------------------------------------------------------------

In [21]:
#columnas = {}
#for i in categorias.columns:
    #print(categorias[i].unique())

In [22]:
#for i in numericas.columns:
    #print(numericas[i].value_counts())

BONUS presenta los resultados en un dataframe.