# Pair Programming EDA II

###  Objetivos

Usad la librer칤a *sidetable* para:

1. Explorar los valores nulos.
2. Explorad la columna de country y reportad los resultados solo para aquellas categor칤as que incluyan el 70% de los datos.
3. Explorad la columna country en relaci칩n al sexo, filtrando de nuevo por aquellas categor칤as que incluyan el 70% de los datos.
4. Haced los mismo para la columna activity en relaci칩n a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.
5. Por 칰ltimo, realizad este an치lisis para la columna fecha (la que creamos en el 칰ltimo ejercicio de pair programming de Pandas) en relaci칩n a la columna fatal. Mostrad solo los resultados para las categor칤as que incluyan el 60% de los datos.

游늷 Nota Igual que siempre, no nos vale solo con picar el c칩digo, queremos que nos incluyais las conclusiones que extraeis.

In [2]:
import pandas as pd
import sidetable
import numpy as np

In [3]:
df = pd.read_csv('../datos/datos_limpiezaI.csv', index_col= 0)
pd.options.display.max_columns=None

1.  Explorar los valores nulos.

    Hemos averiguado la cantidad en % de los nulos en nuestro *DataFrame* y hemos visto que en general no tiene muchos. Parece que sonb datos robustos.

In [4]:
df.stb.missing(style = True)

2. Explorad la columna de country y reportad los resultados solo para aquellas categor칤as que incluyan el 70% de los datos.

    Hemos visto que el 70% de los ataques se concentran en Estados Unidos y Australia, y el restante 30% en los otros paises.

In [5]:
df.stb.freq(["country"], thresh = 70, other_label ="Other Countries", style = True)

3. Explorad la columna country en relaci칩n al sexo, filtrando de nuevo por aquellas categor칤as que incluyan el 70% de los datos.

    Los ataques se producen en la mayoria de los casos a hombres y en Estados Unidos, Australia y Sudafrica.

In [6]:
df.columns

Index(['year', 'country', 'age', 'species_', 'date', 'mes', 'fatal', 'sexo'], dtype='object')

In [7]:
df["sexo"].unique()

array(['F', 'M', nan], dtype=object)

In [8]:
df.stb.freq(["country","sexo"], thresh = 70, style = True)

4. Haced los mismo para la columna activity en relaci칩n a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.

    Podemos estar tranquilas porque la mayoria de las actividades acuatica no son letales a los ataques de tiburones. 
    
    Aunque si que tienes que tener cuidado si va a surfear(1,68%) o a nadar (5,09%).
    Todo teniendo en cuenta que estamos mirando el 60% de los datos.

In [11]:
df2 = pd.read_csv('../datos/datos_ataques.csv', index_col= 0)
df2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'injury', 'date',
       'mes', 'fatal', 'sexo'],
      dtype='object')

In [12]:
df2.stb.freq(["activity","fatal"], thresh = 60, style = True)

5. Por 칰ltimo, realizad este an치lisis para la columna fecha (la que creamos en el 칰ltimo ejercicio de pair programming de Pandas) en relaci칩n a la columna fatal. Mostrad solo los resultados para las categor칤as que incluyan el 60% de los datos.

    Tendriamos que revisar los datos porque nos sale con % mas alto el a침o 0. Nos parece evidente que haya un problema con la limpieza de esta columna y de los "a침os".Mas all치 de esto si ignoracimos este fallo podriamos decir que se han producido mas ataques en el a침o 2015.Parece que est치n distribuidos de manera mas o menos equilibrada.

In [13]:
df.stb.freq(["year","fatal"], thresh = 60,style = True)

In [14]:
df2["date"].unique()

array(['25-Jun-2018', '03-Jun-2018', '26-May-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

### Conclusiones
Si bien es cierto que la lecci칩n de hoy ha sido muy te칩rica, en esta parte los ejercicios no ser치n tanto de programar sino de pensar 游뱂. 쯈u칠 tendr칠is que hacer?
- En relaci칩n a los valores nulos:
        
    - Identificar las columnas que tienen nulos (lo hicimos en el ejercicio de pair programming EDA I y en el de hoy con el *sidetable*).
    
    - Debatid entre vosotras qu칠 har칤ais con los valores nulos, 쯟os quitar칤ais o los reemplazar칤ais con un valor que nosotras decidiremos?. Cread una celda de markdown en vuestro jupyter y escribid vuestras conclusiones.

-   En relaci칩n a los outliers, ya hemos ido conociendo un poco nuestro dataframe y de momento solo tenemos una columna de tipo num칠rico, por lo tanto, poco podemos hacer. Un poco m치s adelante, cuando hayamos hecho una serie de cambios sobre nuestras columnas podremos hacer una evaluaci칩n m치s profunda de estos.

Averiguando los resultado que son nulos hemos visto que en general no son muchos, pero a la hora de hacer una analysis sobre los ataques por a침o que son fatales o no, hemos visto que tendremos que analizar y comparar la columna year con date porque en date aun que no salgan valores nulos sales mucho con 0.

In [15]:
df.replace(0000, np.nan, inplace = True)