# Pair Programming EDA II

###  Objetivos

Usad la librería *sidetable* para:

1. Explorar los valores nulos.
2. Explorad la columna de country y reportad los resultados solo para aquellas categorías que incluyan el 70% de los datos.
3. Explorad la columna country en relación al sexo, filtrando de nuevo por aquellas categorías que incluyan el 70% de los datos.
4. Haced los mismo para la columna activity en relación a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.
5. Por último, realizad este análisis para la columna fecha (la que creamos en el último ejercicio de pair programming de Pandas) en relación a la columna fatal. Mostrad solo los resultados para las categorías que incluyan el 60% de los datos.

📌 Nota Igual que siempre, no nos vale solo con picar el código, queremos que nos incluyais las conclusiones que extraeis.

In [1]:
import pandas as pd
import sidetable
import numpy as np

In [2]:
df = pd.read_csv('../datos/datos_limpiezaI.csv', index_col= 0)
pd.options.display.max_columns=None

1.  Explorar los valores nulos.

    Hemos averiguado la cantidad en % de los nulos en nuestro *DataFrame* y hemos visto que en general no tiene muchos. Parece que son datos robustos.

In [3]:
df.stb.missing(style = True)

2. Explorad la columna de country y reportad los resultados solo para aquellas categorías que incluyan el 70% de los datos.

    Hemos visto que el 70% de los ataques se concentran en Estados Unidos y Australia, y el restante 30% en los otros paises.

In [4]:
df.stb.freq(["country"], thresh = 70, other_label ="Other Countries", style = True)

3. Explorad la columna country en relación al sexo, filtrando de nuevo por aquellas categorías que incluyan el 70% de los datos.

    Los ataques se producen en la mayoria de los casos a hombres y en Estados Unidos, Australia y Sudafrica.

In [5]:
df.columns

Index(['year', 'country', 'age', 'species_', 'date', 'mes', 'fatal', 'sexo'], dtype='object')

In [6]:
df["sexo"].unique()

array(['F', 'M', nan], dtype=object)

In [7]:
df.stb.freq(["country","sexo"], thresh = 70, style = True)

4. Haced los mismo para la columna activity en relación a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.

    Podemos estar tranquilas porque la mayoria de las actividades acuatica no son letales a los ataques de tiburones. 
    
    Aunque si que tienes que tener cuidado si vas a surfear(1,68%) o a nadar (5,09%).
    Todo teniendo en cuenta que estamos mirando el 60% de los datos.

In [8]:
df2 = pd.read_csv('../datos/datos_ataques.csv', index_col= 0)
df2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'injury', 'date',
       'mes', 'fatal', 'sexo'],
      dtype='object')

In [9]:
df2.stb.freq(["activity","fatal"], thresh = 60, style = True)

5. Por último, realizad este análisis para la columna fecha (la que creamos en el último ejercicio de pair programming de Pandas) en relación a la columna fatal. Mostrad solo los resultados para las categorías que incluyan el 60% de los datos.

Podriamos decir que el 60% de los ataques no han sido fatales y se han producido por la mayor parte en los ultimos 20 años.

In [32]:
df.stb.freq(["year","fatal"], thresh = 60)
#con style=True salen los años con 6 zeros.

      year   fatal  count    percent  cumulative_count  cumulative_percent
0   2015.0       n     59   4.063361                59            4.063361
1   2007.0       n     50   3.443526               109            7.506887
2   2002.0       n     49   3.374656               158           10.881543
3   2012.0       n     47   3.236915               205           14.118457
4   2013.0       n     41   2.823691               246           16.942149
5   2006.0       n     36   2.479339               282           19.421488
6   2005.0       n     36   2.479339               318           21.900826
7   2003.0       n     36   2.479339               354           24.380165
8   2009.0       n     35   2.410468               389           26.790634
9   2010.0       n     32   2.203857               421           28.994490
10  2004.0       n     32   2.203857               453           31.198347
11  2016.0       n     31   2.134986               484           33.333333
12  2008.0       n     30   2.066116               514           35.399449
13  2014.0       n     28   1.928375               542           37.327824
14  2011.0       n     26   1.790634               568           39.118457
15  2001.0       n     26   1.790634               594           40.909091
16  2000.0       n     26   1.790634               620           42.699725
17  2017.0       n     23   1.584022               643           44.283747
18  1999.0       n     23   1.584022               666           45.867769
19  1961.0       n     20   1.377410               686           47.245179
20  1995.0       n     19   1.308540               705           48.553719
21  1996.0       n     18   1.239669               723           49.793388
22  1992.0       n     18   1.239669               741           51.033058
23  1963.0       n     18   1.239669               759           52.272727
24  1998.0       n     17   1.170799               776           53.443526
25  1993.0       n     17   1.170799               793           54.614325
26  2018.0       n     16   1.101928               809           55.716253
27  1997.0       n     16   1.101928               825           56.818182
28  1962.0       n     16   1.101928               841           57.920110
29  1991.0       n     14   0.964187               855           58.884298
30  1994.0       n     13   0.895317               868           59.779614
31  others  others    584  40.220386              1452          100.000000

### Conclusiones
Si bien es cierto que la lección de hoy ha sido muy teórica, en esta parte los ejercicios no serán tanto de programar sino de pensar 🤔. ¿Qué tendréis que hacer?
- En relación a los valores nulos:
        
    - Identificar las columnas que tienen nulos (lo hicimos en el ejercicio de pair programming EDA I y en el de hoy con el *sidetable*).
    
    - Debatid entre vosotras qué haríais con los valores nulos, ¿los quitaríais o los reemplazaríais con un valor que nosotras decidiremos?. Cread una celda de markdown en vuestro jupyter y escribid vuestras conclusiones.

-   En relación a los outliers, ya hemos ido conociendo un poco nuestro dataframe y de momento solo tenemos una columna de tipo numérico, por lo tanto, poco podemos hacer. Un poco más adelante, cuando hayamos hecho una serie de cambios sobre nuestras columnas podremos hacer una evaluación más profunda de estos.

Averiguando los resultado que son nulos hemos visto que en general no son muchos, pero a la hora de hacer una analysis sobre los ataques por año que son fatales o no hubiera sido interante averiguar mas detalles utilizando herramientas de visualizacion.