# Pair Programming EDA II

###  Objetivos

Usad la librería *sidetable* para:

1. Explorar los valores nulos.
2. Explorad la columna de country y reportad los resultados solo para aquellas categorías que incluyan el 70% de los datos.
3. Explorad la columna country en relación al sexo, filtrando de nuevo por aquellas categorías que incluyan el 70% de los datos.
4. Haced los mismo para la columna activity en relación a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.
5. Por último, realizad este análisis para la columna fecha (la que creamos en el último ejercicio de pair programming de Pandas) en relación a la columna fatal. Mostrad solo los resultados para las categorías que incluyan el 60% de los datos.

📌 Nota Igual que siempre, no nos vale solo con picar el código, queremos que nos incluyais las conclusiones que extraeis.

In [50]:
import pandas as pd
import sidetable
import numpy as np

In [15]:
df = pd.read_csv('../datos/datos_limpiezaI.csv', index_col= 0)
pd.options.display.max_columns=None

1.1  Explorar los valores nulos.

Hemos averiguado la cantidad en % de los nulos en nuestro *DataFrame* y hemos visto que en general no tiene muchos. Parece que sonb datos robustos.

In [16]:
df.stb.missing(style = True)

1.2. Explorad la columna de country y reportad los resultados solo para aquellas categorías que incluyan el 70% de los datos.

Hemos visto que el 70% de los ataques se concentran en Estados Unidos y Australia, y el restante 30% en los otros paises.

In [17]:
df.stb.freq(["country"], thresh = 70, other_label ="Other Countries", style = True)

1. 3. Explorad la columna country en relación al sexo, filtrando de nuevo por aquellas categorías que incluyan el 70% de los datos.

Los ataques se producen en la mayoria de los casos a hombres y en Estados Unidos, Australia y Sudafrica.

In [18]:
df.columns
#

Index(['year', 'country', 'age', 'species_', 'date', 'mes', 'fatal', 'sexo'], dtype='object')

In [19]:
df["sexo"].unique()

array(['F', 'M', nan], dtype=object)

In [20]:
df.stb.freq(["country","sexo"], thresh = 70, style = True)

1.4. Haced los mismo para la columna activity en relación a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.

Podemos estar tranquilas porque la mayoria de las actividades acuatica no son letales a los ataques de tiburones. 
Aunque si que tienes que tener cuidado si va a surfear(1,68%) o a nadar (5,09%).
Todo teniendo en cuenta que estamos mirando el 60% de los datos.

In [25]:
df2 = pd.read_csv('../datos/6.pandas_nuevascolumnas.csv', index_col= 0)
df2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'injury', 'date',
       'mes', 'fatal', 'sexo'],
      dtype='object')

In [23]:
df2.stb.freq(["activity","fatal"], thresh = 60, style = True)

1.5. Por último, realizad este análisis para la columna fecha (la que creamos en el último ejercicio de pair programming de Pandas) en relación a la columna fatal. Mostrad solo los resultados para las categorías que incluyan el 60% de los datos.

Tendriamos que revisar los datos porque nos sale con % mas alto el año 0.
Nos parece evidente que haya un problema con la limpieza de esta columna y de los "años".
Mas allá de esto si ignoracimos este fallo podriamos decir que se han producido mas ataques en el año 2015.
Parece que están distribuidos de manera mas o menos equilibrada.

In [52]:
df.stb.freq(["year","fatal"], thresh = 60,style = True)

In [49]:
df2["date"].unique()

array(['25-Jun-2018', '03-Jun-2018', '26-May-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

### Conclusiones
Si bien es cierto que la lección de hoy ha sido muy teórica, en esta parte los ejercicios no serán tanto de programar sino de pensar 🤔. ¿Qué tendréis que hacer?
- En relación a los valores nulos:
        
    - Identificar las columnas que tienen nulos (lo hicimos en el ejercicio de pair programming EDA I y en el de hoy con el *sidetable*).
    
    - Debatid entre vosotras qué haríais con los valores nulos, ¿los quitaríais o los reemplazaríais con un valor que nosotras decidiremos?. Cread una celda de markdown en vuestro jupyter y escribid vuestras conclusiones.

-   En relación a los outliers, ya hemos ido conociendo un poco nuestro dataframe y de momento solo tenemos una columna de tipo numérico, por lo tanto, poco podemos hacer. Un poco más adelante, cuando hayamos hecho una serie de cambios sobre nuestras columnas podremos hacer una evaluación más profunda de estos.

Averiguando los resultado que son nulos hemos visto que en general no son muchos, pero a la hora de hacer una analysis sobre los ataques por año que son fatales o no, hemos visto que tendremos que analizar y comparar la columna year con date porque en date aun que no salgan valores nulos sales mucho con 0.

In [51]:
df.replace(0000, np.nan, inplace = True)