#  Pair Programming Limpieza V

Es el momento de ponernos a trabajar con los valores nulos de nuevo üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos de skelarn intentemos aplicarlos todos. Manos a la obra!

In [35]:
import pandas as pd
pd.options.display.max_columns = None
import sidetable
import seaborn as sns
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

Es el momento de eliminar los nulos:

1. Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo SimpleImputer.

In [17]:
df = pd.read_csv("datos/datos_limpiezaIII.csv")
df.head(1)

,year,country,age,species,date,month,fatal,sex,main_species,age_numbers
0,2018.0,usa,57,White shark,25-Jun-2018,Jun,n,F,white_shark,57.0

In [18]:
nulos = pd.DataFrame((df.isnull().sum() * 100) / df.shape[0]).reset_index()
nulos.columns = ["columna", "porcentaje"]
nulos 

#Comprobamos el porcentaje de nulos por columna

        columna  porcentaje
0          year    0.000000
1       country    0.600240
2           age    8.883553
3       species    7.262905
4          date    0.000000
5         month    2.941176
6         fatal    5.822329
7           sex    0.840336
8  main_species    0.000000
9   age_numbers    9.123649

In [19]:
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)

In [20]:
imputer = imputer.fit(df[['age_numbers']])

In [21]:
df['age_numbers_mean'] = imputer.transform(df[['age_numbers']]) #Creamos una nueva columna con los nulos sutituidos por la media

In [22]:
df.isnull().sum() # Comprobamos que nuesta columna age_number_mean no tiene nulos

year                  0
country              10
age                 148
species             121
date                  0
month                49
fatal                97
sex                  14
main_species          0
age_numbers         152
age_numbers_mean      0
dtype: int64

2. Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.

In [23]:
imputer=SimpleImputer(strategy='most_frequent',missing_values=np.nan)

In [24]:
imputer=imputer.fit(df[['sex']])

In [26]:
df['sex_moda']=imputer.transform(df[['sex']])

In [29]:
df.isnull().sum() #Comprobamos los nulos

year                  0
country              10
age                 148
species             121
date                  0
month                49
fatal                97
sex                  14
main_species          0
age_numbers         152
age_numbers_mean      0
sex_moda              0
dtype: int64

3. Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda) con el m√©todo SimpleImputer.

In [30]:
imputer=SimpleImputer(strategy='most_frequent',missing_values=np.nan)

In [ ]:
# imputer=imputer.fit(df[['type']]) No tenemos la columna 'type', habr√≠a que recuperarla. 
# imputer=imputer.fit(df[['type']])
# df['type_moda']=imputer.transform(df[['type']])
# df.isnull().sum()

4. Utilizad el m√©todo KNN Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [33]:
numericas = df.select_dtypes(include = np.number) #Primero seleccionamos las columnas num√©ricas

In [34]:
numericas.isnull().sum() #Vemos el porcentaje de nulos

year                  0
age_numbers         152
age_numbers_mean      0
dtype: int64

In [36]:
imputerKNN = KNNImputer(n_neighbors=5) #Iniciamos el KNKImputer
imputerKNN.fit(numericas) #Lo aplicamos a nuestras columnas num√©ricas

KNNImputer()

In [38]:
# Aplicamos el m√©todo a nuestras variables y lo almacenamos en una variable

numericas_knn= imputerKNN.transform(numericas) #Esto nos devuelve un array

In [40]:
df_knn_imputer = pd.DataFrame(numericas_knn, columns = numericas.columns) #Lo convertimos a un DataFrame

In [41]:
df_knn_imputer.head()

     year  age_numbers  age_numbers_mean
0  2018.0         57.0              57.0
1  2018.0         18.0              18.0
2  2018.0         15.0              15.0
3  2018.0         32.0              32.0
4  2018.0         21.0              21.0

6. Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [42]:
df_copia = pd.read_csv("datos/datos_limpiezaIII.csv")
df_copia.isnull().sum()

year              0
country          10
age             148
species         121
date              0
month            49
fatal            97
sex              14
main_species      0
age_numbers     152
dtype: int64

In [44]:
numericas_cop = df_copia.select_dtypes(include=np.number)

In [45]:
Imputer=IterativeImputer(n_nearest_features=None, imputation_order='ascending')

In [47]:
imputer.fit(numericas_cop)

/home/irene/anaconda3/lib/python3.9/site-packages/sklearn/impute/_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

SimpleImputer(strategy='most_frequent')

In [48]:
imputer.transform(numericas_cop)

array([[2018. ,   57. ],
       [2018. ,   18. ],
       [2018. ,   15. ],
       ...,
       [1990.4,   19. ],
       [1990.4,   19. ],
       [1990.4,   15. ]])

In [49]:
numericas_cop2 = pd.DataFrame(imputer.transform(numericas_cop),columns=numericas_cop.columns)
numericas_cop2.isnull().sum()

year           0
age_numbers    0
dtype: int64