# Pair Programming Limpieza I

In [3]:
import pandas as pd
pd.options.display.max_columns = None
import re

In [10]:
df = pd.read_csv('../datos/datos_limpiezaI.csv', index_col= 0)
df.head(1)

   year country age     species_         date  mes fatal sexo
0  2018     usa  57  White shark  25-Jun-2018  Jun     n    F

1. Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores √∫nicos y esto hace que sea muy dif√≠cil trabajar con esta columna. 

    - Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las m√°s comunes, que incluyen el tibur√≥n blanco (White), el tibur√≥n tigre (Tiger ), el tibur√≥n gris (Grey), el tibur√≥n lim√≥n (Lemon) y el tibur√≥n toro (Bull). 

    - El resto de las especies las incluiremos en un √∫nico grupo que podremos llamar "Unspecified". Ahora nos podemos sentir un poco abrumadas y no saber como enfrentarnos a este reto, pero don't worry, os dejamos por aqu√≠ unas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo.

    Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categor√≠as que hemos definido previamente.

In [ ]:
# imaginemos que el valor de una celda es el siguiente

'White shark, 3.5 m'

# tendremos que buscar el patr√≥n de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 
# Un patr√≥n que podriamos usar es: 

patron_blanco = r".*[Ww](hite|HITE).*" # esto podr√≠a ser as√≠ porque puede estar en may√∫sculas o en min√∫sculas. 
patron_tigre = r".*[Tt](iger|IGER).*"
patron_gris = r".*[Gg](rey|REY).*"
patron_limon = r".*[Ll](emmon|EMMON).*"
patron_toro = r".*[Bb](ull|ULL).*"


# de la misma forma que hemos sacado el patron para el tibur√≥n blanco, tendremos que sacar los patrones para las otras 4 especies que queremos "encontrar".

- Tendremos que crearnos una funci√≥n que aplicaremos sobre nuestra columna species para que nos devuelva una nueva columna con los valores clasificados en funci√≥n de los patrones de regex que hayamos definido.

In [28]:
def categorizar (col):

    patron_blanco = re.findall(r".*[Ww](hite|HITE).*", str(col))
    patron_tigre = re.findall(r".*[Tt](iger|IGER).*", str(col))
    patron_gris = re.findall(r".*[Gg](rey|REY).*", str(col))
    patron_limon = re.findall(r".*[Ll](emmon|EMMON).*", str(col))
    patron_toro = re.findall(r".*[Bb](ull|ULL).*", str(col))

    if patron_blanco:
        return "white_shark"
    else:
        return str("en proceso")

In [29]:
mapa = {patron_blanco: "white_shark"}
df["especies"] = df["species_"].apply(categorizar)
#df["especies"] = df["species_"].apply(lambda x: categorizar(x))

In [30]:
df.head()

,year,country,age,species_,date,mes,fatal,sexo,especies
0,2018,usa,57,White shark,25-Jun-2018,Jun,n,F,white_shark
1,2018,brazil,18,Tiger shark,03-Jun-2018,Jun,y,M,en proceso
2,2018,usa,15,"Bull shark, 6'",26-May-2018,May,n,M,en proceso
3,2018,australia,32,Grey reef shark,24-May-2018,May,n,M,en proceso
4,2018,england,21,Invalid incident,13-May-2018,May,n,M,en proceso

2. Columna de age: es una columna de tipo string pero deber√≠a ser de tipo integer. Adem√°s, en esta columna nos vamos a encontrar con algunos errores tipogr√°ficos, estos incluyen:
    - Edad en formato string
    - Edades separadas por &, or, to, >
    - Edades con ?

Vamos con algunas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo:
- Primero tendremos que eliminar todos esos s√≠mbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los n√∫meros que es lo que nos interesa. Usar este regex en una funci√≥n para sacar solo los n√∫meros.
- Puede que os salga un error similar a este:
    - TypeError: expected string or bytes-like object
    - Para solucionar este problema, antes de nada tendr√©is que ejecutar este c√≥digo para que no os de error:
    - df['nombre_columna'] = df['nombre_columna'].astype(str)
- Una vez que hay√°is extraido los n√∫meros, os dar√©is cuenta que hay celdas que tienen m√°s de una edad. Tendr√©is que decidir que hacer en esos casos. Os dejamos por aqu√≠ una posible opci√≥n usando un m√©todo de Pandas que os puede resultar super √∫til. El m√©todo explode, aqui.
- Por √∫ltimo cambiad el tipo de la columna de string a integer.

3. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.