#  Pair Programming Limpieza V

Es el momento de ponernos a trabajar con los valores nulos de nuevo üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos de skelarn intentemos aplicarlos todos. Manos a la obra!

In [2]:
import pandas as pd
pd.options.display.max_columns = None
import sidetable
import seaborn as sns
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

Es el momento de eliminar los nulos:

1. Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo SimpleImputer.

In [3]:
df = pd.read_csv("../datos/datos_limpiezaIV.csv", index_col= 0)
df.head(1)

,year,country,age,species,date,month,fatal,sex,main_species,age_numbers
0,2018.0,usa,57,White shark,25-Jun-2018,Jun,n,F,white_shark,57.0

In [4]:
nulos = pd.DataFrame((df.isnull().sum() * 100) / df.shape[0]).reset_index()
nulos.columns = ["columna", "porcentaje"]
nulos 

#Comprobamos el porcentaje de nulos por columna

        columna  porcentaje
0          year    0.000000
1       country    0.000000
2           age    8.883553
3       species    7.262905
4          date    0.000000
5         month    2.941176
6         fatal    0.000000
7           sex    0.840336
8  main_species    0.000000
9   age_numbers    0.000000

In [5]:
imputer = SimpleImputer(strategy='mean', missing_values=np.nan) #Definimos el 'imputer'

In [6]:
imputer = imputer.fit(df[['age_numbers']])

In [7]:
df['age_numbers_mean'] = imputer.transform(df[['age_numbers']]) #Creamos una nueva columna con los nulos sutituidos por la media

In [8]:
df.isnull().sum() # Comprobamos que nuesta columna age_number_mean no tiene nulos

year                  0
country               0
age                 148
species             121
date                  0
month                49
fatal                 0
sex                  14
main_species          0
age_numbers           0
age_numbers_mean      0
dtype: int64

2. Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.

In [9]:
imputer=SimpleImputer(strategy='most_frequent',missing_values=np.nan)

In [10]:
imputer=imputer.fit(df[['sex']])

In [11]:
df['sex_moda']=imputer.transform(df[['sex']])

In [12]:
df.isnull().sum() #Comprobamos los nulos

year                  0
country               0
age                 148
species             121
date                  0
month                49
fatal                 0
sex                  14
main_species          0
age_numbers           0
age_numbers_mean      0
sex_moda              0
dtype: int64

3. Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda) con el m√©todo SimpleImputer.

**Como no tenemos la columna 'type', no corremos el siguiente c√≥digo**

In [13]:
imputer=SimpleImputer(strategy='most_frequent',missing_values=np.nan)

In [14]:
# imputer=imputer.fit(df[['type']]) 
# imputer=imputer.fit(df[['type']])
# df['type_moda']=imputer.transform(df[['type']])
# df.isnull().sum()

4. Utilizad el m√©todo KNN Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [15]:
numericas = df.select_dtypes(include = np.number) #Primero seleccionamos las columnas num√©ricas

In [16]:
numericas.isnull().sum() #Vemos el porcentaje de nulos

year                0
age_numbers         0
age_numbers_mean    0
dtype: int64

In [17]:
imputerKNN = KNNImputer(n_neighbors=5) #Iniciamos el KNKImputer
imputerKNN.fit(numericas) #Lo aplicamos a nuestras columnas num√©ricas

KNNImputer()

In [18]:
# Aplicamos el m√©todo a nuestras variables y lo almacenamos en una variable

numericas_knn= imputerKNN.transform(numericas) #Esto nos devuelve un array

In [19]:
df_knn_imputer = pd.DataFrame(numericas_knn, columns = numericas.columns) #Lo convertimos a un DataFrame

In [20]:
df_knn_imputer.head()

     year  age_numbers  age_numbers_mean
0  2018.0         57.0              57.0
1  2018.0         18.0              18.0
2  2018.0         15.0              15.0
3  2018.0         32.0              32.0
4  2018.0         21.0              21.0

6. Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [21]:
df_copia = pd.read_csv("../datos/datos_limpiezaIII.csv")
df_copia.isnull().sum()

year              0
country          10
age             148
species         121
date              0
month            49
fatal            97
sex              14
main_species      0
age_numbers     152
dtype: int64

In [22]:
numericas_cop = df_copia.select_dtypes(include=np.number)

In [23]:
Imputer=IterativeImputer(n_nearest_features=None, imputation_order='ascending')

In [24]:
imputer.fit(numericas_cop)

SimpleImputer(strategy='most_frequent')

In [25]:
imputer.transform(numericas_cop)

array([[2018. ,   57. ],
       [2018. ,   18. ],
       [2018. ,   15. ],
       ...,
       [1839.3,   19. ],
       [1839.3,   19. ],
       [1839.3,   15. ]])

In [26]:
numericas_cop2 = pd.DataFrame(imputer.transform(numericas_cop),columns=numericas_cop.columns)
numericas_cop2.isnull().sum()

year           0
age_numbers    0
dtype: int64

5. Explica la diferencia entre estos dos √∫ltimos m√©todos

La imputacion sustituye los valores que nos faltan en los datos por otros valores. KNN imputer mantiene el valor y la variablidad de los conjuntos de datos, utiliza el valor medio de los valores m√°s cercanos para la imputaci√≥n. SimpleImputer analiza los datos del nuestro conjunto y utiliza alg√∫n tipo de promedio como la media o la mediana para la sutituci√≥n de los valores que no tenemos.

In [27]:
df.head()

,year,country,age,species,date,month,fatal,sex,main_species,age_numbers,age_numbers_mean,sex_moda
0,2018.0,usa,57,White shark,25-Jun-2018,Jun,n,F,white_shark,57.0,57.0,F
1,2018.0,brazil,18,Tiger shark,03-Jun-2018,Jun,y,M,tiger_shark,18.0,18.0,M
2,2018.0,usa,15,"Bull shark, 6'",26-May-2018,May,n,M,bull_shark,15.0,15.0,M
3,2018.0,australia,32,Grey reef shark,24-May-2018,May,n,M,grey_shark,32.0,32.0,M
4,2018.0,england,21,Invalid incident,13-May-2018,May,n,M,unspecified,21.0,21.0,M

In [ ]:
df.to_csv('../datos/datos_limpiezaV.csv')

Creamos otro archivo sin las columnas: *age*, *species*, *date*.
Estas columnas son las originales que estan sin limpiar.
Tenemos los mismo datos en *age_numbers*, *main_species* y *month*.

In [29]:
df1 = df.drop(["age","species","date"], axis = 1)
df.head(2)

,year,country,month,fatal,sex,main_species,age_numbers,age_numbers_mean,sex_moda
0,2018.0,usa,Jun,n,F,white_shark,57.0,57.0,F
1,2018.0,brazil,Jun,y,M,tiger_shark,18.0,18.0,M

In [30]:
df1.to_csv('../datos/datos_limpiezaVI.csv')