# Pair Programming ETL V

Igual que en el ejercicio de pair programming de ETL Transformación II, tendréis que crear una clase que nos permita cargar los datos en SQL I.

In [2]:
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

import requests
import pandas as pd
import numpy as np

import mysql.connector

pd.options.display.max_columns = None

In [3]:
class crear_insertar:

    def __init__(self,bbdd, contraseña):

        self.bbdd = bbdd
        self.contraseña = contraseña

    def crear_bbdd(self):

        mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password= self.contraseña
        )
        print("Conexión realizada con éxito")
    
        mycursor = mydb.cursor()

        try:
            mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.bbdd};")
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)
            
    def insertar_tabla(self, query):
        
        self.query = query 
    
        cnx = mysql.connector.connect(user='root', password=f"{self.contraseña}",
                                     host='127.0.0.1', database=f"{self.bbdd}")

        mycursor = cnx.cursor()
    
   
        try: 
            mycursor.execute(query)
            cnx.commit() 
    
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

In [4]:
df_ataque = pd.read_csv('../datos/datos_limpiezaV.csv', index_col = 0)
df_clima = pd.read_csv('../datos/datos_clima.csv', index_col = 0)

In [6]:
df_ataque.columns

Index(['year', 'country', 'age', 'species', 'date', 'month', 'fatal', 'sex',
       'main_species', 'age_numbers', 'age_numbers_mean', 'sex_moda'],
      dtype='object')

In [8]:
for indices, filas in df_ataque.interrows():
    query = f"""
    INSERT INTO df_ataque( 'year', 'country', 'age', 'species', 'date', 'month', 'fatal', 'sex','main_species', 'age_numbers', 'age_numbers_mean', 'sex_moda')
    VALUES("{filas["year"]}","{filas["country"]}","{filas["age"]}","{filas["species"]}","{filas["date"]}","{filas["month"]}","{filas["fatal"]}","{filas["sex"]}","{filas["main_species"]}","{filas["age_numbers"]}","{filas["age_numbers_mean"]}","{filas["sex_moda"]}");
    """

SyntaxError: invalid syntax (4112464300.py, line 2)